nav {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: rgb(36, 105, 108);
  top: 0%;
  z-index: 10;

  > h1 {
    text-transform: uppercase;
  }

  > main {
    width: 70%;
    display: flex;
    justify-content: flex-end;

    > a {
      color: black;
      margin: 1rem;

      &:hover {
        color: white;
      }
    }
  }
}















